/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require font-awesome
 *= require jstree-default
 *= require bootstrap-datetimepicker
 *= require bootstrap-editable
 *= require selectize
 *= require selectize.bootstrap3
 *= require_tree .
 */


 table#data_table tbody tr td {
 	    font-size: 14px !important;
 }

table#data_table tbody tr td.details-control {
    background: url('/assets/details_open.png') no-repeat center center;
    cursor: pointer;
}
table#data_table tbody tr.shown td.details-control {
    background: url('/assets/details_close.png') no-repeat center center;
}

table#data_table tbody tr.parent-row{
    background-color: #f1f1f1
}

table#data_table tbody tr.parent-row.active-item{
    background-color: #ffb6c1
}
table#data_table tbody tr.child-row.active-item{
    background-color: #facce4
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.breadcrum {
  width: 691px !important;
  height: 60px;
  background-color:#005826;
  margin-top: -30px;
  margin-left: 10px !important;  
  color: white;
  float: left;
  border-width: 3px;  
  border-color: #fff;
  border-radius: 0;
}
.breadcrum_text {
	margin-left: 5px;  
  color: #fff;
  font-size: 17px;
}

.breadcrum_list {
  margin-left: 15px;  
  color: #fff;
  font-size: 12px;
  margin-top: -10px !important;
  position: absolute;    
}
.breadcrum_line{
  margin-left: 117px !important;
}

.breadcrum_no_save{
  margin-left: 39px !important;
}

.bredcum_container{
  position: relative;
  width: 200% !important;
  min-height: 100%;
  right: 46px;
}
.list_show{
  margin-left: 44px !important;
  display: block !important;
  margin-top: -8px !important;
}
.l1ist_show_contact{
  margin-left: 45px !important;
  display: block !important;
  margin-top: -25px !important;
}
/*.save_property{
  margin-left: 45px !important;
  position: relative;
  top: -11px;
}*/
.breadcrum_contact{
  position: relative !important;
  top: 15px !important;
}
.breadcrum_save_contact{
  position: relative !important;
  margin-left: -325px !important;
  top: 2px !important;
}

.submit-button{
	float: right;
}
/*.property_save{
  padding: 0px !important;
  height: 29px !important;
}*/
.sub-class{
  width: 72px;
  height: 37px;
  margin-top: 5px;
  border-color: #fff !important;
  border-radius: 0px !important;
  background-color: #005826;
  border-width: 3px !important;
  font-size: 17px !important;
}

.submit-edit{
  width: 64px;
  height: 30px;
  margin-top: -65px;
  border-color: #fff !important;
  border-radius: 0px !important;
  background-color: #005826;
  border-width: 2px !important;
  font-size: 14px !important;
  margin-left: 45px !important;
}

.lease-analy{
	margin-top: 30px;
}

.cover-pic{
	margin-top: 26px;
}

.header-tab{
  margin-left: -10px !important;
  margin-top: 30px;
}
.nav-tanant {
  height: 35px;
  border: 1px solid #ccc !important;
  padding: 15px !important;
  border-radius: 3px !important;
  margin-top: 19px;
  margin-left: 11px;
  padding-top: 4px !important;
}
.form-content {
    margin-top: 25px;
}
.upload-image {
  margin-top: 46px;
}

.breadcrum_text:focus, .breadcrum_text:hover{
  color: white !important;
}

.sub-class:focus, .sub-class:hover{
  color: white !important;
}

.breadcrum_list:focus, .breadcrum_list:hover{
  color: white !important;
}

.submit-edit:focus, .submit-edit:hover{
  color: white !important;
  background: #5eb14a !important;
}

.nav-tabs{
  border-bottom: none !important;
}

.lease-breadcrum {
  height: 60px;
  background-color:#005826;
  margin-top: -16%;
  color: white;
  float: left;
  border-width: 3px;  
  border-color: #fff;
  border-radius: 0;
}

.tenant-breadcrum  {
  height: 60px;
  background-color:#005826;
  margin-top: -15.5%;
  margin-left: 10px !important;  
  color: white;
  float: left;
  border-width: 3px;  
  border-color: #fff;
  border-radius: 0;
}

.lease-header-tab {
    margin-left: -10px !important;
    margin-top: -10%;
}

.tenant-header-tab {
    margin-left: -10px !important;
    margin-top: -9%;
}

.lease-subtabs {
  margin-top: 10%;
}