/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require font-awesome
 *= require jstree-default
 *= require bootstrap-datetimepicker
 *= require bootstrap-editable
 *= require selectize
 *= require selectize.bootstrap3
 *= require_tree .
 */


 table#data_table tbody tr td {
      font-size: 14px !important;
 }

table#data_table tbody tr td.details-control {
    background: url('/assets/details_open.png') no-repeat center center;
    cursor: pointer;
}
table#data_table tbody tr.shown td.details-control {
    background: url('/assets/details_close.png') no-repeat center center;
}

table#data_table tbody tr.parent-row{
    background-color: #f1f1f1
}

table#data_table tbody tr.parent-row.active-item{
    background-color: #ffb6c1
}
table#data_table tbody tr.child-row.active-item{
    background-color: #facce4
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}


.breadcrum-breadcrum {
  width: 200% !important;
  height: 60px;
  background-color:#005826;
  margin-top: -30px;
  margin-left: -30px !important;  
  color: white;
  float: left;
  border-width: 3px;  
  border-color: #fff;
  border-radius: 0;
}

.bredcrum-fixed{
  position: fixed;
  z-index: 300;
}

.breadcrum_text {
  margin-left: 5px;  
  color: #fff;
  font-size: 17px;
}

.breadcrum_list {
  margin-left: 15px;  
  color: #fff;
  font-size: 12px;
  margin-top: -10px !important;
  position: absolute;
}
.breadcrum_line {
  margin-left: 117px !important;
}

.breadcrum_no_save {
  margin-left: 39px !important;
}

.bredcum-content { 
  margin-top: 30px;
}

.list_show {
  margin-left: 48px !important;
  display: block !important;
  margin-top: -8px !important;
}

.list_show_basic {
  margin-left: 49px !important;
  display: block !important;
  margin-top: -8px !important;
}
.show_property{
  left: 32px;
  text-decoration: underline;
}
.list_property{
  text-decoration: underline;
  font-size: 12px !important;  
} 
.list_client{
  text-decoration: underline;
  font-size: 12px !important;
}
.show_client{
  text-decoration: underline;
  left: -45px !important;
}

.list_contact {
  margin-left: 45px !important;
  display: block !important;
  margin-top: -25px !important;
}

.breadcrum_contact {
  position: relative !important;
  top: 15px !important;
}

.breadcrum_save_contact {
  position: relative !important;
  top: 2px !important;
}

.submit-button{
  float: right;
}

.sub-class{
  width: 72px;
  height: 37px;
  margin-top: 5px;
  border-color: #fff !important;
  border-radius: 0px !important;
  background-color: #005826;
  border-width: 3px !important;
  font-size: 17px !important;
}
.property-owner {
  margin-left: 10px;
}

.submit-edit{
  width: 64px;
  height: 30px;
  margin-top: -72px;
  border-color: #fff;
  border-radius: 0px !important;
  background-color: #005826;
  border-width: 2px !important;
  font-size: 14px !important;
  margin-left: 46px !important;
  padding-top: 2px !important;
}

.submit-edit-basic{
  width: 64px;
  height: 30px;
  margin-top: -72px !important;
  border-color: #fff;
  border-radius: 0px !important;
  background-color: #005826;
  border-width: 2px !important;
  font-size: 14px !important;
  margin-left: 48px !important;
  padding-top: 2px !important;
}

.lease-analy{
  margin-top: 10px;
}

.lease-form{
  margin-top: 30px;
  margin-left: -5px;
}

.cover-pic{
  margin-top: 26px;
}

.header-tab{
  margin-left: -10px !important;
  margin-top: 21px;
}

.form-content {
    margin-top: 25px;
}
.upload-image {
  margin-top: 46px;
}

.breadcrum_text:focus, .breadcrum_text:hover{
  color: white !important;
}

.sub-class:focus, .sub-class:hover{
  color: white !important;
}

.breadcrum_list:focus, .breadcrum_list:hover{
  color: white !important;
}

.submit-edit:focus, .submit-edit:hover{
  color: white !important;
  border-color: white !important;
  background: #5eb14a !important;
}

.submit-edit-basic:focus, .submit-edit-basic:hover{
  color: white !important;
  border-color: white !important;
  background: #5eb14a !important;
}

/*.nav-tabs{
  border-bottom: none !important;
}
*/
.lease_breadcrum {
  width: 200% !important;
  height: 60px;
  background-color: #005826;
  margin-top: -138px;
  margin-left: -44px !important;
  color: white;
  float: left;
  border-width: 3px;
  border-color: #fff;
  border-radius: 0;
}

.tenant_breadcrum {
  width: 200% !important;
  height: 60px;
  background-color:#005826;
  margin-top: -179px;
  margin-left: -30px !important;  
  color: white;
  float: left;
  border-width: 3px;  
  border-color: #fff;
  border-radius: 0;
}

.gallery_breadcrum {
  width: 200% !important;
  height: 60px;
  background-color: #005826;
  margin-top: -60px;
  margin-left: -30px !important;
  color: white;
  float: left;
  border-width: 3px;
  border-color: #fff;
  border-radius: 0;
}


.lease-header-tab {
    margin-left: -21px !important;
    margin-top: -85.5px !important;
}

.tenant-header-tab {
    margin-left: -10px !important;
    margin-top: -101.5px !important;
}

.lease-subtabs {
  margin-top: 108px !important;
}

.tenant-form-content {
  margin-top: 73px !important;
}
.check_box_label{
  position: relative !important;
  left: 12px !important;
}
#entity_jurisdiction,#entity_state{
  position: relative !important;
  left: 12px !important;
}
.white_line{
  position: fixed;
  width: 131% !important;
  height: 16px !important;
  background-color: white !important;
  margin-top: -46px !important;
  margin-left: -67px !important;
}

.gallery_fixed{
  position: fixed;
  width: 131% !important;
  height: 16px !important;
  background-color: white !important;
  margin-top: -76px !important;
  margin-left: -67px !important;
}
.client_bredcrumb{
  margin-top: -151px;
  margin-left: -50px !important;
}
.contact_show_se{
  text-decoration: underline;
  left:31px !important;
}
.list_contacts{
  text-decoration: underline;
}
.contact_bredcumb_fixed{
  position: fixed !important;
  top: 115px!important;
}
.contact_form{
  top: 25px;
}
.contact_breadcrumb_fixed{
  top: 120px;
}