// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-lg-top
  display: table !important
  width: 100% !important
  .record-pagination
    position: static !important
    display: table-cell
    vertical-align: middle
    padding-top: 17px
  .pagination
    margin: 0 !important
    display: table-cell
    vertical-align: middle
    padding-top: 11px
    .pagination
      padding-top: 0px !important

  .pagination-field
    display: table-cell
    vertical-align: middle
    float: right

.dataTables_wrapper
  margin-top: -20px


