.entity-not-found
  margin: 2px 0px
  padding: 2px 1px
.add-list-entity-links
  width: 200px
  a
    font-size: 11px
    font-weight: 400
.ind-entity-popup
  display: block
  border-bottom: 1px solid #e5e6e9
  padding: 5px 1px
  font-size: 15px
  font-weight: 600
  line-height: 16px
  clear: both
  height: 40px
  .object-text
    width: 100%
    height: 100%
    word-wrap: break-word
    float: left
    padding: 2px 0 0 5px

.ind-entity-popup:hover
  cursor: pointer

.ind-entity-popup.selected
  color: white
  background-color: #6D84B4

.entity-type-list
  .type
    display: block
    text-align: left
  .type:hover
    background: #D78C20
    color: white
    cursor: pointer

.disabled-like
  pointer-events: none
  cursor: not-allowed
  -webkit-appearance: none
  -moz-appearance: none
  text-indent: 1px
  text-overflow: ''

.ipp-modal:hover
  cursor: pointer

#flash_message
  padding: 4px 7px
  position: fixed
  margin-left: 280px


#comma-grey
  padding-top: 14px
  padding-left: 15px
  padding-right: 15px

.date-manual
  float: none !important
  display: inline-block
  .date-manual-label
    padding-left: 15px
    padding-top: 5px
  .manual-checkbox
    position: relative
    .manual_date_style
      position: absolute
      left: -5px
      top: 2px
    .trust_manual_date_style
      position: absolute
      left: -5px
      top: 5px

.new_style_save
  border-color: #c2153d !important

.default_style_save
  background: inherit

.attorney_form
  position: relative
  .date_manual_field
    position: absolute
    left: 40%
    transform: translateY(14%)
    .date_manual_check_field
      position: absolute
      left: 85%


.gear-set
  margin-left: 10px
  ul
    li
      &:first-child
        margin-top: 9px
      &:last-child
        margin-bottom: 9px
